.App {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  overflow: hidden;
  background: transparent
    radial-gradient(closest-side at 50% 50%, #58687e 0%, #39495e 100%) 0% 0%
    no-repeat padding-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body::-webkit-scrollbar {
  display: none;
}
/* Optional: show position indicator in red */
body::-webkit-scrollbar-thumb {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
